CSKit/Intermediate/*
CSKit/Binaries/*
*.user
CSKit/Tools/ScreenRecorder/Source/.vs/*
CSKit/Tools/ScreenRecorder/Source/Debug/*
CSKit/Tools/ScreenRecorder/Source/ScreenRecorder.sln
CSKit/Tools/ScreenRecorder/Source/.idea/*
CSKit/Tools/ScreenRecorder/Source/x64/*