CSKit/Intermediate/*
CSKit/Binaries/*
*.user
CSKit/Tools/ScreenRecorder/Source/.vs/*
CSKit/Tools/ScreenRecorder/Source/Debug/*
CSKit/Tools/ScreenRecorder/Source/ScreenRecorder.sln
CSKit/Tools/ScreenRecorder/Source/.idea/*
CSKit/Tools/ScreenRecorder/Source/x64/*
CSKit/Tools/ScreenRecorder/bin/log.txt
CSKit/Tools/RunBat/Source/.vs/*
CSKit/Tools/RunBat/Source/Debug/*
CSKit/Tools/RunBat/Source/RunBat.sln
CSKit/Tools/RunBat/Source/.idea/*
CSKit/Tools/RunBat/Source/x64/*
